<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!-- <bean id="tv" class="polymorphism.SamsungTV" lazy-init="true" init-method="initMethod" destroy-method="destroyMethod"/> -->

    <!-- 	
    setter 인젝션 사용으로 생성자 인젝션 주석처리
    <bean id="tv" class="polymorphism.SamsungTV">
		<constructor-arg ref="apple"></constructor-arg>
		<constructor-arg value="2700000"></constructor-arg>
	</bean> 
	-->
	
	<context:component-scan base-package="polymorphism"></context:component-scan>
	
	<!-- component-scan 으로 주석처리
	<bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000">
    	//p 네임스페이스 추가로 주석처리	
		<property name="speaker" ref="apple"></property>
		<property name="price" value="2700000"></property> 
	</bean>
	
	<bean id="apple" class="polymorphism.AppleSpeaker"></bean>
	<bean id="sony" class="polymorphism.SonySpeaker"></bean>
	
	<bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">
		<property name="addressList">
			<list>
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
			</list>
		</property>
	</bean>
	-->
</beans>
